node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env
eas.json
.eas.json
*.config.json
app.config.json
# official3dadaily-0da47ed0c335.json
official3dadaily-f1f87f9a6a39.json